table,
th,
td {
  border-collapse: collapse;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* width: 100%; */
  /* padding: 5px 5px 5px 10px; */
}

table {
  margin-left: 1rem;
  /* padding: 20px ; */

  /* margin-right: 1rem; */
  /* width: ; */
}
.thh , .tdd {
  padding: 10px 20px 10px 60px;
  /* border: 1px solid bl; */


}

th {
  font-size: 20px;
  text-align: center;
}

td {
  font-size: 15px;
  text-align: center;
}

tr {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

thead {
  /* background-color: gray; */
  background-color: #ecf3fa;
  height: 10vh;
  /* padding: 0px ; */

}

.ProductAndButton {
  display: grid;
  grid-template-columns: 75% 20%;
  background-color: white;
  padding: 10px;
  /* margin-top: 2rem; */
}

.AddProduct {
  width: 8rem;
  margin-top: 1rem;
  height: 3rem;
  background-color: #0da487;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.AddProduct:active {
  background-color: white;
  color: black;
}

.SearchButton {
  font-size: 20px;
  padding: 10px;
  margin-top: -1rem;
  margin-left: 69%;
}

input {
  height: 5vh;
  border-radius: 5px;
}


.App {
  width: 73%;
  height: 100vh;
  margin-left: 23%;
  overflow-x: scroll;
  margin-top: 7rem;
  overflow-y: hidden;
}
.TableSection{
  overflow: auto;
  /* width: 300px; */
}