/* .App{
    margin-left: 20.5%;
    margin-top: 5rem;
} */
.MainDiv {
    /* border: 1px solid black; */
    width: 77.9vw;
    margin-left: 22%;
    height: 17vh;
    box-shadow: 5px, 5px, 10px, 5px black;
    background-color: #fff;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.CenterNav {
    margin-top: 1.6rem;
    margin-left: 4rem;
    width: 30vw;
    height: 7vh;
    display: flex;
    /* border: 1px solid black; */
    /* border-radius: 5px; */
  
}

.spanSearch {
    width: 30vw;
    height: 7vh;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    background-color: whitesmoke;
}

input {
    border: none;
    outline: none;
    background-color: whitesmoke;
}

.span {
    font-size: 25px;
    height: 7vh;
    width: 60px;
    background-color: rgb(255, 165, 59);;
    border-start-end-radius: 5px;
    text-align: center;
}



@media only screen and (max-width: 1200px) {
    .CardPrising {
        margin-top: 4rem;
        margin-left: 1rem;
        display: flex;
       
    
    
    }
  }