.MainNavbar {
    width: 22%;
    height:auto;
    background-color: #0da487;
    color: white;
    cursor: pointer;
    position: fixed;
}
.ArrayOfList {
    width: 20vw;
    margin-left: .7rem;
    height: 9.5vh;
    border-radius: 5px;
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    /* overflow-y: auto; */
    /* border: 1px solid red; */
    /* background-color: black; */
    /* margin-top: 1rem; */
  

}



.logoTag {
    position: fixed;
    top: 0;
    /* margin-top: 2rem; */
    z-index: 0;
    background-color: #0da487;
    width: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
    /* text-align: center; */
}

.DashBoardIcon {
    margin-left: 1.5rem;
    margin-top: .3rem;
    font-size: 20px;
}

.DashBoardname {
    font-size: 16px;
}

.ArrayOfList:hover {
    background-color: rgb(90, 90, 90);

}
.Mapdiv{
 /* width: 50%;
 height: auto; */
  margin-top: 4.6rem;
  border: 1px solid red;
  /* position: fixed; */

  overflow-y: hidden;
}

